@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: #ad03fc;
    text-decoration: underline;
    font-weight: bold;
}

body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Navbar */
/*.primary-icon {
    height: 40px;
}*/

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.logo {
    background-image: linear-gradient(90deg, rgb(0, 110, 255), rgb(247, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 3px rgb(153, 1, 255), 0 0 25px rgb(0, 132, 255), 0 0 5px rgb(0, 111, 139);
}

.logo img {
    width: 40px;
    margin-right: 10px;
    margin-bottom: -20px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

/* header */

header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('./images/zgad full.jpg');
    background-position: bottom;
    background-color: rgba(0,0,0,0.25);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: #ad03fc;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 10px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: #ad03fc;
    border-radius: 30px;
    color: whitesmoke;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* about zgad */

.about {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 200px 0px;
    background-color: #171717;
}

.about img {
    height: auto;
    width: 430px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.abouttext {
    width: 550px;
}

.aboutmain {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.abouttext h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.abouttext p {
    color: whitesmoke;
    letter-spacing: 1px;
    padding: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
/* section */

section {
    width: 80%;
    margin: 20px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #171717;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.info .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: #171717;
    margin: 20px auto;
}

p {
    color: #332d2d;
    padding: 0px 40px;
}

.info .ctn {
    margin-top: 30px;
}

video {
    position: relative;
    width: 60%;
    top: 0;
    height: auto;
    display: block;
    margin: 20px auto;
    margin-bottom: 120px;
} 

footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px -50px;
    display: flex;
    background: #171717;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('./images/blackwave.png');
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave {
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_2 {
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

/*footer img {
    width: 100px;
}*/


/* .footer img {
    margin: -100px;
    margin-left: -20px;
    width: 100px;
    height: 100px;
    float: left;
} */

/* for mobile device */

@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #171717;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
    }
    .row {
        flex-direction: column;
        position: relative;
        width: 80%;
        top: 0;
        height: auto;
        display: block;
        margin: auto;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    footer {
        padding: 10px;
    }
    .scrollTop {
        padding: 10px;
    }
}

/* Animation */

.ctn:hover { 
    background: whitesmoke;
    color: #ad03fc;
    box-shadow: 2px 2px 5px #00000056;
}

li:hover {
    color: #ad03fc;
    cursor: pointer;
}

/* discord iframe */


@keyframes discord {
	0% {height:70px; width:250px;}
	 100% {height:300px;width:350px;}
}
@keyframes discord-c {
	0% {height:300px;width:350px;}
    100% {height:70px; width:250px;}
}

.discord {
	animation-name: discord-c;
	animation-duration: 2s;
	animation-play-state: pause;
    height:70px;
	width:250px;
    border-radius: 25px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.discord:hover {
	height:300px;
	width:350px;
	animation-name: discord;
	animation-duration: 2s;
	animation-play-state: pause;
}

/* scroll to top */

.scrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    background-color: #ad03fc;
    color: whitesmoke;
    border-radius: 5px;
    border-radius: 1px solid #171717;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.scrollTop:hover { 
    background: whitesmoke;
    color: #ad03fc;
    box-shadow: 2px 2px 5px #00000056;
}
