* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.active {
    color: #ad03fc;
    text-decoration: underline;
    font-weight: bold;
}

body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #171717;
    overflow-y: hidden;
}

/* Navbar */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

span {
    background-image: linear-gradient(70deg, rgb(0, 110, 255), rgb(247, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.logo {
    background-image: linear-gradient(90deg, rgb(0, 110, 255), rgb(247, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 3px rgb(153, 1, 255), 0 0 25px rgb(0, 132, 255), 0 0 5px rgb(0, 111, 139);
}

.logo img {
    width: 40px;
    margin-right: 10px;
    margin-bottom: -20px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

/* header */

header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(23,23,23,.6), rgba(23,23,23,.6)), url('./images/zgad full.jpg');
    background-position: bottom;
    background-color: rgba(0,0,0,0.25);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-content {
    margin-bottom: 450px;
    color: whitesmoke;
    text-align: center;
    animation: transitionIn 8s;
}

.line {
    width: 150px;
    height: 4px;
    background: #8c03fc;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 10px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: #8c03fc;
    border-radius: 30px;
    color: whitesmoke;
    transition: 0.3s ease;
}

.discord-button {
    padding: 8px 15px;
    background-color: #8c03fc;
    border-radius: 30px;
    color: whitesmoke;
    transition: 0.3s ease;
}

.discord-button:hover {
    cursor: pointer;
    background: whitesmoke;
    color: #8c03fc;
    box-shadow: 0px 0px 5px #8c03fc,
                0px 0px 20px #8c03fc,
                0px 0px 60px #8c03fc,
                0px 0px 150px whitesmoke;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* about zgad */

.about {
    width: 100%;
    height: 105vh;
    box-sizing: border-box;
    /*padding: 150px 0px;*/
    display: flex;
    background-image: linear-gradient(rgba(23,23,23,.6), rgba(23,23,23,.6)), url('./images/background assets/Polygon.png');
    justify-content: center;
    background-color: #171717;
    align-items: center;
}

.about .aboutmain img {
    height: auto;
    width: 430px;
    max-width: 100%;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.abouttext {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.aboutmain {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(5vh);
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.abouttext h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.abouttext p {
    color: whitesmoke;
    letter-spacing: 1px;
    padding: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* PROFILE CARDS */

.card-wrap {
    padding: 0 115px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    position: relative;
    width: 320px;
    height: 360px;
    display: flex;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    transform-style: preserve-3d;
    transform-origin: center center;
    transition: transform 1s;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    padding: 50px;
}

.front {
    background-color: #fff;
}

.back {
    padding: 40px 20px;
    background-color: #fff;
    transform: rotateY(180deg);
}

.text {
    margin-top: 30px;
    color: #171717;
}

.front img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h4 {
    font-size: 24px;
    font-weight: 700%;
    margin-bottom: 0;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #171717;
}

.cards .front p {
    margin: 10px 0;
}

.cards:hover .card-inner {
    transform: rotateY(180deg);
    transition: transform .5s;
}

.cards .back p {
    font-size: 12px;
    font-weight: 300;
}

.socials a {
    display: inline-block;
    color: #3686ff;
    border: 1px solid #171717;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    margin: 20px 5px 0;
    transition: all ease 0.5s ;
}

.socials a:hover{
    background-color: #3686ff;
    color: #171717;
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-dot{
    height: 15px;
    width: 45px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #3686ff!important;
    transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active {
    background: #3686ff!important;
}

/* stay safe */

section {
    width: 80%;
    margin: 40px auto;
    margin-top: 0px;
}

.title {
    text-align: center;
    font-size: 4vmin;
    padding-top: 50px;
    color: whitesmoke;
} 

footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px -50px;
    margin-top: 150px;
    display: flex;
    background: #3686ff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li, footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}

footer .menu li a:hover {
    cursor: pointer;
    color: #8c03fc;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
    cursor: pointer;
    color: #8c03fc;
}

footer p {
    color: whitesmoke;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('./images/wave.png');
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_2 3s linear infinite;
}

@keyframes animateWave {
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_2 {
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

/* for mobile device */

@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #171717;
        margin-top: -1500px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
    }
    footer {
        padding: 10px;
    }
    .scrollTop {
        padding: 10px;
    }
    .about {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
    .about .aboutmain img {
        margin-bottom: 35px;
    }
    .abouttext h2 {
        font-size: 50px;
        margin-bottom: 25px;
    }
    .card-wrap {
        padding: 30px 10px;
     }
}

/* small devices */

@media screen and (max-width: 320px) {
    .about {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
    .about .aboutmain img {
        margin-bottom: 100px;
    }
    .abouttext h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }
    .card-wrap {
        padding: 10px 0px;
    }
    .owl-dots {
        margin-bottom: 150px;
    }
}

/* larger devices */
@media screen and (min-width: 1024px) {
    .about {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
    .about .aboutmain img {
        margin-bottom: 100px;
    }
    .abouttext h2 {
        font-size: 50px;
        margin-bottom: 25px;
    }
    .card-wrap {
        padding: 20px 10px;
    }
    .owl-dots {
        margin-bottom: 150px;
    }
}

/* even larger devices */
@media screen and (min-width: 1366px) {
    .about {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
    .about .aboutmain img {
        margin-bottom: 100px;
    }
    .abouttext h2 {
        font-size: 70px;
        margin-bottom: 25px;
    }
    .owl-dots {
        margin-bottom: 30px;
    }
    .card-wrap {
        padding: 20px 10px;
    }
    .owl-dots {
        margin-bottom: 150px;
    }
    
}


/* Animation */

.ctn:hover { 
    background: whitesmoke;
    color: #ad03fc;
    box-shadow: 2px 2px 5px #00000056;
}

li:hover {
    color: #ad03fc;
    cursor: pointer;
}

/* discord iframe */


@keyframes discord {
	0% {height:70px; width:250px;}
	 100% {height:300px;width:350px;}
}
@keyframes discord-c {
	0% {height:300px;width:350px;}
    100% {height:70px; width:250px;}
}

.discord {
	animation-name: discord-c;
	animation-duration: 2s;
	animation-play-state: pause;
    height:70px;
	width:250px;
    border-radius: 25px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.discord:hover {
	height:300px;
	width:350px;
	animation-name: discord;
	animation-duration: 2s;
	animation-play-state: pause;
}

/* scroll to top */

.scrollTop {
    position: fixed;
    bottom: 30px;
    right: 20px;
    padding: 10px 15px;
    background-color: #8c03fc;
    color: whitesmoke;
    border-radius: 50px;
    border-radius: 1px solid #171717;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
    display: flex;
    visibility: hidden;
    z-index: 1000;
}

.scrollTop:hover { 
    background: whitesmoke;
    color: #8c03fc;
    box-shadow: 0px 0px 5px #8c03fc,
                0px 0px 20px #8c03fc,
                0px 0px 60px #8c03fc,
                0px 0px 150px whitesmoke;
}

@keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  /* loader */

  .preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    position: fixed;
    z-index: 2000;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }  

  .preloader lottie-player {
    width: 300px;
    height: 300px;
  }

  .disappear {
      animation: vanish 3s forwards;
  }

  @keyframes vanish {
      100%{
          opacity: 0;
          visibility: hidden;
      }
  }

  ::-webkit-scrollbar {
      width: 10px;
  }

  ::-webkit-scrollbar-thumb {
      background: linear-gradient(transparent, #3686ff);
      border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #8c03fc);
  }

