@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.active {
    color: #ad03fc;
    text-decoration: underline;
    font-weight: bold;
}

body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #171717;
    overflow-y: hidden;
    font-family: "Open Sans", Helvetica;
}

/* Navbar */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}


.logo {
    background-image: linear-gradient(90deg, rgb(0, 110, 255), rgb(247, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 3px rgb(153, 1, 255), 0 0 25px rgb(0, 132, 255), 0 0 5px rgb(0, 111, 139);
}

.logo img {
    width: 40px;
    margin-right: 10px;
    margin-bottom: -20px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

/* header */

header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(23,23,23,.6), rgba(23,23,23,.6)), url('./images/minecraft\ wallpaper.png');
    background-position: bottom;
    background-color: rgba(0,0,0,0.25);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-content {
    margin-bottom: 300px;
    color: whitesmoke;
    text-align: center;
    animation: transitionIn 8s;
}

.line {
    width: 150px;
    height: 4px;
    background: #8c03fc;
    margin: 30px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 6vmin;
    margin-top: 10px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: #8c03fc;
    border-radius: 30px;
    color: whitesmoke;
    transition: 0.3s ease;
}

.minecraft-button {
    display: inline-block;
    font-size: 1.3em;
    padding: 8px 15px;
    background-color: #8c03fc;
    border-radius: 30px;
    color: rgb(245, 245, 245);
    transition: 0.3s ease;
}

.minecraftcount > p > span {
	font-weight: bold;
	padding: 1px 15px;
	border-radius: 30px;
	background: rgba(78, 51, 78, 0.7);
	margin: 0 2px;
}

.extrapad {
    padding: 0px;
}

.minecraft-button:hover {
    cursor: pointer;
    background: whitesmoke;
    color: #8c03fc;
    box-shadow: 0px 0px 5px #8c03fc,
                0px 0px 20px #8c03fc,
                0px 0px 60px #8c03fc,
                0px 0px 150px whitesmoke;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}


/* for mobile device */

@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #171717;
        margin-top: -1500px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
    }
}


/* Animation */

.ctn:hover { 
    background: whitesmoke;
    color: #ad03fc;
    box-shadow: 2px 2px 5px #00000056;
}

li:hover {
    color: #ad03fc;
    cursor: pointer;
}

.ip {
	cursor: pointer;
}
